/*fixed from https://cdn.luogu.com.cn/css/luogu3.css?ver=20190102 prefix: lg-fg-* */

.user-Red {
    color: var(--ui-user-red-color) !important;
}
.user-Orange {
    color: var(--ui-user-orange-color) !important;
}
.user-Purple {
    color: var(--ui-user-purple-color) !important;
}
.user-Green {
    color: var(--ui-user-green-color) !important;
}
.user-Blue {
    color: var(--ui-user-blue-color) !important;
	/*note: in luogu homepage, blue using "bluelight"*/
}
.user-Gray {
    color: var(--ui-user-gray-color) !important;
}
.user-Cheater {
    color: var(--ui-user-cheater-color) !important;
}

:not(pre) > code {
    background: var(--ui-code-background-color) !important;
    padding: 2px 6px !important;
    border-radius: var(--ui-card-radius) !important;
    border: 1px solid var(--ui-border-color) !important;
    font-size: 0.85em !important;
    color: var(--ui-code-text-color) !important;
}

:root {
    --shiki-light: initial;
    --shiki-dark: initial;
    --shiki-light-bg: initial;
    --shiki-dark-bg: initial;

    --shiki-light-font-weight: initial;
    --shiki-dark-font-weight: initial;
    --shiki-light-font-style: initial;
    --shiki-dark-font-style: initial;
    --shiki-light-text-decoration: initial;
    --shiki-dark-text-decoration: initial;
}

.shiki,
.shiki span {
    color: var(--shiki-light);
    /*background-color: var(--shiki-light-bg);*/
    font-style: var(--shiki-light-font-style);
    font-weight: var(--shiki-light-font-weight);
    text-decoration: var(--shiki-light-text-decoration);
}

/*
html.dark .shiki,
html.dark .shiki span {
	color: var(--shiki-dark);
	background-color: var(--shiki-dark-bg);
	font-style: var(--shiki-dark-font-style);
	font-weight: var(--shiki-dark-font-weight);
	text-decoration: var(--shiki-dark-text-decoration);
}
*/
